torch==2.1.0+cu118 -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.16.0+cu118 -f https://download.pytorch.org/whl/torch_stable.html
timm==0.9.12
transformers==4.35.0
pytorch-lightning==2.1.0
tensorboard==2.14.0
wandb==0.15.0
numpy>=1.24.0
pandas==2.0.0
scikit-learn==1.3.0
matplotlib==3.7.0
seaborn==0.12.0
pillow==10.0.0
albumentations==1.3.1
kagglehub==0.1.0
optuna==3.4.0
ray[tune]==2.7.0
